shamefully-hoist=true
public-hoist-pattern[]=*
only-built-dependencies[]=@firebase/util
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=protobufjs
only-built-dependencies[]=unrs-resolver
